@use "./utils" as *;

// viewport

:root {
  --viewport: 1440;

  @include mobile {
    --viewport: 375;
  }
}

// transitions

:root {
  --default-ease: cubic-bezier(0.24, 1, 0.36, 1);
}

// colors

:root {
  --c-black: #000000;
  --c-white: #ffffff;
	--c-red: red;
	--c-grey: #ccc;
}
